.odd {
    background-color: pink;
}

#two {
    color: blue;
    font-size: 36px;
}
#three {
    font-size: 24px;
}
#four {
    background-color: aquamarine;
    font-size: 24px;
    font-weight: bold;
}